<div class="login-container">
    <h2>Red Social</h2>
    <form (ngSubmit)="login()">
    
      <input 
        type="email" 
        placeholder="Correo Electrónico" 
        [(ngModel)]="email" 
        name="email" 
        required 
      />
     
      <input 
        type="password" 
        placeholder="Contraseña" 
        [(ngModel)]="password" 
        name="password" 
        required 
      />
     
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <!-- Botón de login -->
      <button type="submit">Entrar</button>
    </form>
  
    <hr />
  
    <h2>Registro</h2>
    <form (ngSubmit)="register()">
     
      <input 
        type="email" 
        placeholder="Correo Electrónico" 
        [(ngModel)]="email" 
        name="reg-email" 
        required 
      />
    
      <input 
        type="password" 
        placeholder="Contraseña" 
        [(ngModel)]="password" 
        name="reg-password" 
        required 
      />
      
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
     
      <button type="submit">Registrarse</button>
    </form>
  </div>
  